<!-- <p>history works!</p> -->

<body>
    <main>
        <div class="container mt-3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title pull-left">
                        <h5> <img style="width: 25px;height: 25px;" src="assets/svg/doctor.svg" />
                            {{patientDetails?patientDetails['name']:''}}
                            History</h5>
                    </div>
                    <!-- <div class="pull-right">
                        <button class="btn btn-success" (click)="openUploadModal(uploadImage)">Upload</button>
                    </div> -->
                </div>
                <div class="card-body">

                    <form [formGroup]="historyForm">
                        <div class="mb-2">
                            <div class="row">
                                <label class="form-label" for="basicStats" [ngClass]="((historyForm.get('basicStats')?.invalid) && submittedForm)?'text-danger':''">
                                    <strong> Basic Stats</strong> </label>
                            </div>
                            <div class="row" id="basicStats" formGroupName='basicStats'>

                                <div class="col-md-4 mx-2 " [ngClass]="(historyForm.get('basicStats')?.get('height')?.invalid && submittedForm)?'text-danger':''">
                                    <label for="height">*Height (cm): &nbsp;</label>
                                    <input type="number" id='height' name="height"  formControlName="height" />
                                    <div class="text-danger mx-1"
                                        *ngIf="historyForm.get('basicStats')?.get('height')?.invalid && submittedForm">
                                        Please Enter height
                                    </div>

                                </div>
                                <div class="col-md-4" [ngClass]="(historyForm.get('basicStats')?.get('weight')?.invalid && submittedForm)?'text-danger':''">
                                    <label class="form-label-inline" for="weight">*Weight (KG): &nbsp;</label>
                                    <input class="form-control-inline" type="number" id='weight' name="height"
                                        formControlName='weight' />
                                    <div class="text-danger mx-1"
                                        *ngIf="historyForm.get('basicStats')?.get('weight')?.invalid && submittedForm">
                                        Please Enter height
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="form-label-inline">
                                        Body Mass Index:</label>
                                    <strong class="fs-bold"> &nbsp;{{getBMI()}}</strong>
                                </div>

                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row" [ngClass]="(historyForm.get('smoking')?.invalid && submittedForm) ?'text-danger':''">
                                <label class="form-label" for="smoking"> <strong>* Smoking </strong>
                                <span *ngIf="historyForm.get('smoking')?.invalid && submittedForm" class="text-danger">
                                    - This field is Required
                                </span>
                            </label>
                            </div>
                            <div id="smoking">
                                <div *ngFor="let item of smokingDetails" class="form-check form-check-inline ms-3">
                                    <input type="radio" class="form-check-input" name="smoking" id={{item}}
                                        [checked]="this.patientDetails?.history?.smoking ==item" value={{item}}
                                        formControlName="smoking">
                                    <label class="form-check-label text-sm" for={{item}}>{{item}}</label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="mb-2">
                            <div class="row" [ngClass]="(historyForm.get('alcoholDrinking')?.invalid && submittedForm)?'text-danger':''">
                                <label class="form-label" for="drinking"><strong>* Alcohol Drinking </strong> 
                                <span *ngIf="historyForm.get('alcoholDrinking')?.invalid && submittedForm" class="text-danger">
                                    - This field is Required
                                </span>
                            </label>
                            </div>
                            
                            <div id="drinking">
                                <div *ngFor="let item of drinkingDetails" class="form-check form-check-inline ms-3">
                                    <input type="radio" class="form-check-input" name="alcoholDrinking" id={{item}}
                                        [checked]="this.patientDetails?.history?.alcoholDrinking ==item" value={{item}}
                                        formControlName="alcoholDrinking">
                                    <label class="form-check-label text-sm" for={{item}}>{{item}}</label>
                                </div>
                                
                            </div>
                        </div>

                        <div class="mb-2">
                            <div class="row" [ngClass]="(checkDrugUsageError() && submittedForm)?'text-danger':''">
                                <label class="form-label" for="drugUsage"><strong> * Drug Usage </strong>
                                <span *ngIf="checkDrugUsageError() && submittedForm" class="text-danger">
                                    - This field is Required
                                </span>
                            </label>
                            </div>
                            <div id="drugUsage"  >
                                <div *ngFor="let drug of drugsDetails;let i =index"
                                    class="form-check form-check-inline ms-3" formArrayName='drugUsage'>
                                    <input type="checkbox" class="form-check-input" id={{drug}} value={{drug}}
                                        [formControlName]=i>
                                    <label class="form-check-label text-sm" for={{drug}}>{{drug}}</label>
                                </div>


                                <label for="drugOthers">Others: &nbsp;</label>
                                <input type="text" id='drugOthers' name="drugOthers" formControlName="otherDrugUsage" />

                            </div>
                        </div>

                        <div class="mb-2">
                            <div class="row">
                                <label class="form-label" for="surgeries"><strong> Surgeries</strong> </label>
                            </div>
                            <div id="surgeries">

                                <div *ngFor="let surgery of surgeryDetails;let i =index"
                                    class="form-check form-check-inline ms-3" formArrayName='surgeries'>
                                    <input type="checkbox" class="form-check-input" id={{surgery}} value={{surgery}}
                                        [formControlName]=i>
                                    <label class="form-check-label text-sm" for={{surgery}}>{{surgery}}</label>
                                </div>

                                <label for="otherSurgery">Others: &nbsp;</label>
                                <input type="text" id='otherSurgery' formControlName="otherSurgery" />

                            </div>
                        </div>

                    </form>
                </div>

            </div>
            <div class="d-flex flex-row justify-content-end mt-2">

                <button type="button" class="btn btn-success mx-2" (click)="saveHistoryDetails()">Save</button>
                <button type="button" class="btn btn-secondary" routerLink="/dashboard"> Back to Dashboard</button>
            </div>

        </div>
    </main>
</body>

<!-- -------------- Added for Profile Pic -->

<ng-template #uploadImage>

    <div class="modal-header">
        <h5 class="modal-title pull-left"> Upload Profile Picture </h5>
        <button type="button" class="close pull-right btn" aria-label="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="file" [(ngModel)]='profilePic' />
        <button type="button" class="btn btn-primary" (click)="uploadProfilePic()">Upload</button>
        <button type="button" class="btn"><img src="assets/svg/trash.svg" /></button>

    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" (click)="deletePatient(presentPatientDetails['id'])">yes</button> -->
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>

</ng-template>